# Environment Files (Do not commit secrets)
.env
.env.local
.env.*.local

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride


# Local logs & temp files
*.log
*.tmp
scratch/

# Common dependency folders (for node/python)
node_modules/
venv/
.venv/
dist/
build/
